{% extends 'base.html' %}
{% block contactactive %} active {% endblock contactactive %}

{% load static %}
{% block body %}
<style>

</style>
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<!-- <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" /> -->


<link rel="stylesheet" href="{% static 'css/contacts.css' %}">
</link>
<script src="{% static 'js/contacts.js' %}"></script>
<div class="container mr-5 ml-5 mt-3">
    <section class="row mr-0 ml-0 ">
        <div class="col-md-6" style="font-family: Avenir Next W02,Helvetica,Arial,sans-serif;
        font-weight: 600;">
            <h2 class="mb-0" style="color:#0091ae;font-size:18px;font-weight: 600;">Contacts</h2>
            <p class="text-dark mb-0" style="font-size: 12px;
            line-height: 18px; ">2 records</p>
        </div>
        <div class="col-md-6">
            <div class=" float-right">
                <span class="dropdown actbtn">
                    <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dactioin"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #fff;
                    border-color: #ff7a59;
                    color: #ff7a53;font-size: 12px;" !important>
                        Action
                    </button>
                    <div class="dropdown-menu account-extras pr-0 pl-0" style="top:130%" aria-labelledby="dactioin">
                        <a class="dropdown-item" href="#">Edit Properties</a>
                        <a class="dropdown-item" href="#">Manage Duplicates</a>
                        <a class="dropdown-item" href="#">Restore Reecords</a>
                    </div>

                </span>
                <a href="" class="btn btn-outline-danger " style="background-color: #fff;
                border-color: #ff7a59;
                color: #ff7a53;font-size: 12px;
    line-height: 14px;
    padding: 8px 16px;">Import</a>
                <a class="btn btn-danger  " href="/contact_form" style="font-size: 12px;
                line-height: 14px;
                padding: 8px 16px;background-color: #ff7a59;
border-color: #ff7a59;color: #fff">Create contact</a>
            </div>



        </div>


</div>
</section>
</div>
<section class="mt-3 container">
    <nav>
        <div class="nav nav-tabs contact-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">All contacts</a>
            <!-- <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">My contacts</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Unassigned contacts</a> -->
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" style="border-top:1px solid rgb(255, 255, 255);">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="AbstractToolbar__Toolbar-sc-1419dfy-0 loiGuo UIFilterBar__FilterBar-ddik07-0 dvTLVb p-bottom-5 width-100 p-left-0 p-top-0"
                data-onboarding="filter-bar" role="group">
                <div class="FilterBar__Inner-sc-1pq4ioh-1 cBGfwK">
                    <div class="FilterBar__FilterBarSectionGeneric-sc-1pq4ioh-2 FilterBar__Start-sc-1pq4ioh-3 oBwUy">
                        <div class="private-form__set private-form__set--no-label">
                            <div class="private-form__control-wrapper">
                                <div class="private-form__input-wrapper">
                                    <div class="private-search-control autocomplete" id="autocomplete"><input
                                            data-selenium-test="list-search-input" type="search" tabindex="0"
                                            class="form-control private-form__control private-search-control__input"
                                            placeholder="Search full name" name='search_contact'
                                            id="search_contact"><span class="private-search-control__foreground"><span>
                                                <span
                                                    class="private-icon private-icon__low private-search-control__icon"
                                                    data-icon-name="search">
                                                    <span aria-hidden="true"
                                                        class="UIIcon__IconContent-sc-1kicla2-0 hrDWnP">
                                                        <i
                                                            class="fa fa-search private-icon"></i></span></span></span></span>
                                        <ul id="autocomplete-result-list"></ul>

                                    </div>
                                </div>

                                <div class="private-form__meta">
                                    <div class="private-form__messages"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="FilterBar__FilterBarSectionGeneric-sc-1pq4ioh-2 FilterBar__Middle-sc-1pq4ioh-4 cglPDM p-left-3">
                        <div data-selenium-test="quick-filter-container" data-onboarding="gob385-filters-wrapper">


                        </div>


                        <div class="row ml-auto">
                            <!--     <div class="dropdown col-md-4">
                                <button onclick="myFunction()"
                                    class="dropbtn btn private-button--tertiary-light private-button private-button--default">Creat
                                    date</button>
                                <div id="myDropdown" class="dropdown-content">
                                    <input type="text" placeholder="Search.." id="myInput"
                                        class="private-form__control private-search-control__input"
                                        onkeyup="filterFunction()">

                                    <a href="#about">About</a>
                                    <a href="#base">Base</a>
                                    <a href="#blog">Blog</a>
                                    <a href="#contact">Contact</a>
                                    <a href="#custom">Custom</a>
                                    <a href="#support">Support</a>
                                    <a href="#tools">Tools</a>
                                </div>
                            </div> -->
                            <div class=" dropdown col-md-4 ml-auto mr-3">
                                <button
                                    class="btn dropdown-toggle private-button--tertiary-light private-button private-button--default"
                                    type="button" id="dropdownActionButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu m-0 ">
                                    <li><button class="dropdown-item Abtn" id="EContact"
                                            onclick="Edit_Contact()">Edit</button></li>
                                    <li><button class="dropdown-item Abtn" id="DContact"
                                            onclick="Delete_Contacts()">Delete</button>
                                    </li>
                                </ul>


                            </div>
                            <div class="dropdown col-md-4">
                                <button
                                    class="btn  dropdown-toggle private-button--tertiary-light private-button private-button--default"
                                    type="button" id="dropdownSaveButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Save View
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownSaveButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <section class="mt-3">

                    <div class="">
                        <div class="">
                            <div class="sresult">
                                <table class="table table-bordered table-condensed table-hover text-left"
                                    id="contactTable" style="overflow-x:auto;">
                                    <thead>
                                        <tr>
                                            <th scope="">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="customCheckAll" onchange="checkAll(this)" name="chk[]" />
                                                    <label class="custom-control-label" for="customCheckAll"></label>
                                                </div>
                                            </th>
                                            <th scope="col" onclick="sortTable(0)"> NAME</th>
                                            <th scope="col" onclick="sortTable(1)">EMAIL</th>
                                            <th scope="col">PHONE NUMBER</th>
                                            <th scope="col">STATUS</th>
                                            <th scope="col">CREATED DATE</th>
                                        </tr>
                                    </thead>
                                    <tbody class="Cbody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div> -->
    </div>


</section>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {

        IsLogin();

        window.Edit_Contact = function () {
            // let Eid = $("input[name='EntityID[]']:checked").val();
            let Eid = []
            $.each($("input[name='EntityID[]']:checked"), function () {
                Eid.push($(this).val());
            });
            if (Eid == "") {
                showToast("Select Entity ");
            } else if (Eid.length > 1) {
                showToast("Select only one Entity");
            } else {
                window.location = '/contact_form/' + Eid
            }
        }

        const url = "http://127.0.0.1:5000/api";

        window.Delete_Contacts = function () {
            let EntityIDs = [];
            $.each($("input[name='EntityID[]']:checked"), function () {
                EntityIDs.push($(this).val());
            });
            if (EntityIDs == "") {
                showToast(" Select Entity");
            } else {
                var result = confirm('Are you sure to delete this Contact ?');
                if (result) {
                    //Logic to delete the item
                    // alert("deleted");
                    fetch(url + '/EntityDetailApi', { mode: 'cors', method: 'delete', body: JSON.stringify(EntityIDs), headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": ("Bearer " + AToken) } })
                        .then((response) => {
                            if (response.status == 200) {
                                return response.json();
                            }
                        })
                        .then((myJson) => {
                            sessionStorage.setItem("Msg", "Delete Contacts SucessFully");
                            window.location = "/contacts"
                            // console.log(myJson);
                        })
                    // .catch((error) => {
                    //     // Handle the error
                    //     showToast(error + "/n" + "Try Again ");
                    // });
                }
                // console.log(EntityIDs)
            }
        }


        let AToken = localStorage.getItem("accessToken");
        // const url = "http://127.0.0.1:5000/api";
        fetch(url + '/EntityDetailApi', { mode: 'cors', method: 'get', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": "Bearer " + AToken } })
            .then((response) => {
                if (response.status == 200) {
                    return response.json();
                } else {
                    throw Error(response.statusText);
                }
            })
            .then((myJson) => {
                console.log(myJson)
                let ctable = '';
                myJson.map((entity, index) => {
                    // console.log(entity)


                    ctable += `
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox text-center">
                            <input type="checkbox" name="EntityID[]"  value="${entity.EntityID}" class="text-center custom-control-input"
                            id="customCheck${index + 1}">
                            <label class="custom-control-label" for="customCheck${index + 1}"></label>
                            </div>
                        </td>
                       
                        `
                    if (entity.Photo == null) {
                        ctable += ` <td> <a href="/contact_info/${entity.EntityID}">  <img class="rounded-circle mr-2" id="avatar" src="{% static 'img/default-100.jpg' %}"
                        style="width:28px;height: 28px">${entity.FullName}</a>  </td> `
                    } else {
                        ctable += ` <td><a href="/contact_info/${entity.EntityID}">  <img class="rounded-circle mr-2" id="avatar" src="${entity.Photo}"
                        style="width:28px;height: 28px">${entity.FullName}</a>   </td>`
                    }
                    ctable += `  <td><a > ${entity.EmailIDF.EmailAddress}</a> </td>
                        <td class='text-center'><a > ${entity.PhoneIDF.PhoneNo}</a> </td>
                        <td class='text-center'><a > ${entity.StatusIDF.Status}</a> </td>
                       
                    
                        <td class='text-center'>${entity.CreatedAT}</td>
                </tr>
                            `

                })
                $(".Cbody").html(ctable);
            });


        // console.log(input)
        $('#search_contact').on('keyup', function (e) {
            var search_contact = document.getElementById('search_contact').value
            // console.log(search_contact)

            const Surl = `http://127.0.0.1:5000/api/EntitySearchApi/?search=${search_contact}`;
            fetch(Surl, { mode: 'cors', method: 'get', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": "Bearer " + AToken } })
                .then((response) => {
                    return response.json()

                })
                .then(data => {

                    let ctable

                    if (Object.keys(data).length === 0) {
                        $(".Cbody").html("<tr> <td colspan='7'><h3 class='text-center' style='color:#0091ae;'> Invalid Search...</h3></td> </tr>")
                        // console.log("empty...")
                    }
                    else {


                        // console.log(data)
                        // console.log(typeof (data))
                        data.map((entity, index) => {

                            ctable += `
                <tr>
                        <td>
                        <div class="custom-control custom-checkbox text-center">
                            <input type="checkbox" name="EntityID[]" value="${entity.EntityID}" class=" custom-control-input"
                            id="customCheck${ index + 1}">
                            <label class="custom-control-label" for="customCheck${index + 1}"></label>
                            </div>
                            </td>

                        `
                            if (entity.Photo.Photo == null) {
                                ctable += ` <td> <a href="/contact_info/${entity.EntityID}">  <img class="rounded-circle mr-2" id="avatar" src="{% static 'img/default-100.jpg' %}"
                        style="width:28px;height: 28px">${entity.FullName}</a>  </td> `
                            } else {
                                ctable += ` <td><a href="/contact_info/${entity.EntityID}">  <img class="rounded-circle mr-2" id="avatar" src="${entity.Photo.Photo}"
                        style="width:28px;height: 28px">${entity.FullName}</a>   </td>`
                            }
                            ctable += `
                        <td>${entity.Email.EmailIDF.EmailAddress}</td>
                        <td class='text-center'>${entity.Phone.PhoneIDF.PhoneNo}</td>
                        <td class='text-center'><a > ${entity.Person.StatusIDF.Status}</a> </td>

                        <td class='text-center'>${entity.CreatedAT}</td>
                </tr >
                        `
                        })
                        $(".Cbody").html(ctable);
                    }
                });
        })

    })

</script>

{% endblock %}