{% extends 'base.html' %}
{% load static %}

{% block body %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.js"></script>
<style>
    .accordion>.card>.card-header {
        border-radius: 0;
        margin-bottom: 0;
    }

    .a-btn:focus {
        border: none;
        box-shadow: 0 0 0 0.2rem #fff;
        ;
        outline: 0;
    }

    .a-btn:hover {
        text-decoration: underline;
    }

    .dropdown-item:focus {
        background-color: aliceblue;
    }

    .Abtn:focus {
        border: 0 !important;
        background-color: aliceblue !important;
        outline: none !important;

    }


    .dropdown-item:hover {
        color: #0091ae;

    }

    .accordion .card-header:after {
        font-family: 'FontAwesome';
        content: "\f078";
        float: left;
        margin-right: 7px;
        font-size: 12px;
        font-weight: 100;
    }

    .accordion .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f077";
    }

    .Ncard:after {
        font-family: 'FontAwesome';
        content: "\f078";
        float: left;
        margin-right: 7px;
        font-size: 12px;
        font-weight: 100;
    }

    .Ncard.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f077";
    }

    .form-group-cInfo {
        position: relative;
        margin-top: 10px;
    }

    .cInfo-label {
        position: absolute;
        /* top: 50%; */
        left: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 13px;
        color: #333;
        pointer-events: none;
        -webkit-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        top: 5px;
        font-size: 13px;
        color: #3A75BC;
    }

    .cInfo {


        display: inline-block;
        /* font-family: "Titillium Web", Arial, Tahoma; */
        padding: 1px 10px;
        margin: 10px 0 0 17px;
        font-size: 14px;
        background: none;
        border: 0;
        border-bottom: 1px solid #adb5bd;
        color: #2e3f50 !important;
        box-shadow: none;
        outline: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        /* width: 100% */
    }

    /* .cInfo:focus+.cInfo-label,
    .cInfo.has-value+.cInfo-label,
    textarea:focus+.cInfo-label,
    textarea.has-value+.cInfo-label {
        top: 5px;
        font-size: 13px;
        color: #3A75BC;
    } */

    /* textarea:focus+.cInfo-label,
    textarea.has-value+.cInfo-label {
        top: 30px;
    } */

    .cInfo:focus::-webkit-cInfo-placeholder {
        color: transparent;
    }

    .jsRpyj {
        max-width: 360px;
        transition: width 0.2s ease 0s;
        width: 180px;
    }

    .private-search-control {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 100%;
    }

    .private-search-control__input {
        padding-right: 44px;
    }

    .private-form__control--on-dark {
        background-color: #fff;
    }


    .private-form__control {
        /* padding: 9px 10px; */
        border-radius: 3px;
        border: 1px solid #cbd6e2;
        font-size: 16px;
        transition: all .15s ease-out;
        background-color: #f5f8fa;
        color: #33475b;
        display: block;
        height: 40px;
        line-height: 22px;
        text-align: left;
        vertical-align: middle;
        width: 100%;
    }

    .private-search-control__foreground {
        bottom: 1px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 1px;
    }

    .private-icon {
        display: inline-block;
        user-select: none;
        white-space: nowrap !important;
        word-break: normal !important;
    }

    .private-search-control__icon {
        color: #0091ae;
        font-size: 16px;
        line-height: 16px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 12px;
        pointer-events: none;
    }

    .project-tab {
        margin-top: 20px;

    }

    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }

    .project-tab #tabs h6.section-title {
        color: #eee;
    }

    .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #0091ae;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid #2e3f50 !important;
        font-size: 14px;
        font-weight: 500;
    }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #0091ae;
        font-size: 14px;
        font-weight: 500;
    }

    .project-tab .nav-link:hover {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #2e3f50;
        font-size: 14px;
        font-weight: 500;
    }

    .call-btn:hover {
        background-color: #f5f8fa !important;
    }

    .call1 {

        padding-left: 350px
    }


    @media screen and (max-width: 1200px) {
        .call1 {

            padding-left: 210px
        }
    }


    .Callcard .card-header:after {
        font-family: 'FontAwesome';
        content: "\f078";
        float: left;
        font-size: 12px;
        padding-top: 3px;
        font-weight: 100;
    }

    .Callcard .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f077";
    }

    .callH {
        background-color: #fff;
        border-bottom: 0;

    }

    .callA {
        background-color: #f5f8fa;
        font-weight: 600;
        font-size: 13px;
        /* border-bottom: 1px solid #adb5bd; */

    }
</style>
<div class="container-fluid pl-0 ">

    <div class="row  ml-0">
        <div class="col-md-3 pl-0 pr-0 ml-0"
            style="overflow:auto;height:608px ; border-right: 1px solid rgb(203, 214, 226)" !improtant>
            <div class="cd1 p-3">
                <div class="">
                    <a href="/contacts" class="float-left" style="color: #0091ae;font-size: 16px;font-weight: 600;"
                        !important>
                        <i class=" fa fa-angle-left" aria-hidden="true"></i>
                        Contacts
                    </a>
                    <div class="dropdown float-right ">
                        <button class="btn dropdown-toggle p-0 a-btn"
                            style="color: #0091ae;font-size: 16px;font-weight: 400;" type="button"
                            data-toggle="dropdown">Action
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu m-0 ">
                            <li><a href="/contact_form/{{Pid}}" class="dropdown-item d-focus">Edit</a></li>
                            <li><button class="dropdown-item Abtn" id="DContact"
                                    onclick="Delete_Contact()">Delete</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cd2 mt-5 row ml-2 mr-0 mb-3">

                <div class="mr-3">
                    <img class="rounded-circle" id="avatar" src="{% static 'img/default-100.jpg' %}"
                        style="width:95px;height: 95px">

                </div>
                <div class="" style="color: #4a6784">
                    <h6 class="" style="font-size: 35px" id="CAH1"></h6>
                    <p id="CFN" class="mb-0" style="font-size: 13px"> </p>
                    <p class="mb-0" style="font-size: 14px;" id="CAC"></p>
                    <p id="CAemail" style="font-size: 14px;"></p>
                </div>

            </div>

            <div class="text-center mt-2 mb-3">
                <ul style="padding-left:0px" !important>

                    <li style="list-style:None;
                    display: inline-block;
    max-width: 10%; margin: 0px 20px 0px 20px">

                        <button class="btn rounded-circle" style="background-color: #eaf0f6;
                    border-color: #cbd6e2;
                    color: #506e91;padding: 2px 7px;text-overflow: clip;" !important>
                            <i class="fa fa-phone"></i>
                        </button>
                        <small>Call</small>
                    </li>
                    <li style="list-style:None;
                    display: inline-block;
    max-width: 10%; margin: 0px 20px 0px 20px">

                        <button class="btn rounded-circle" style="background-color: #eaf0f6;
                    border-color: #cbd6e2;
                    color: #506e91;padding: 2px 7px;text-overflow: clip;" !important>
                            <i class="fa fa-envelope"></i>
                        </button>
                        <small>Email</small>
                    </li>
                    <li style="list-style:None;
                    display: inline-block;
    max-width: 10%; margin: 0px 20px 0px 20px">

                        <button class="btn rounded-circle" style="background-color: #eaf0f6;
                    border-color: #cbd6e2;
                    color: #506e91;padding: 2px 7px;text-overflow: clip;" !important>
                            <i class="fa fa-edit"></i>
                        </button>
                        <small>Note</small>
                    </li>

                </ul>
            </div>
            <!-- <hr style="border-top: 1px solid rgb(203, 214, 226);"> -->
            <div>
                <div class=" card mb-0 "
                    style=" border-top: 1px solid rgb(203, 214, 226);border-bottom: 0;border-right:0;background-color: #f5f8fa">
                    <div id="accordion" class="DCard accordion">

                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6 mr-0 pr-0 pl-0 ml-0"
            style="background-color: #f5f8fa;overflow:auto;height:608px;border-right: 1px solid rgb(203, 214, 226)"
            !important>
            <div class="container-fluid">

                <div class="mt-3">
                    <div class="TimelineSearchInput__MaxWidthDiv-djx7to-0 jsRpyj">
                        <div class="private-search-control"><input type="search"
                                class="form-control private-form__control private-search-control__input private-form__control--on-dark"
                                placeholder="Search activities" value=""><span
                                class="private-search-control__foreground"><span>
                                    <span class="private-icon private-icon__low private-search-control__icon"
                                        data-icon-name="search"><span aria-hidden="true"
                                            class="UIIcon__IconContent-sc-19bmf3-0 fouKFK"></span><i
                                            class="fa fa-search"></i>

                                    </span>
                        </div>
                    </div>

                    <section id="tabs" class="project-tab">
                        <div class="">
                            <div class="row">
                                <div class="col-md-12">
                                    <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab"
                                                href="#nav-home" role="tab" aria-controls="nav-home"
                                                aria-selected="true">Activity</a>

                                            <a class="nav-item nav-link active" id="nav-call-tab" data-toggle="tab"
                                                href="#nav-call" role="tab" aria-controls="nav-home"
                                                aria-selected="true">Calls</a>
                                            <a class="nav-item nav-link " id="nav-email-tab" data-toggle="tab"
                                                href="#nav-email" role="tab" aria-controls="nav-home"
                                                aria-selected="true">Email</a>
                                            <a class="nav-item nav-link " id="nav-note-tab" data-toggle="tab"
                                                href="#nav-note" role="tab" aria-controls="nav-home"
                                                aria-selected="true">Notes</a>
                                            <a class="nav-item nav-link " id="nav-task-tab" data-toggle="tab"
                                                href="#nav-task" role="tab" aria-controls="nav-home"
                                                aria-selected="true">Tasks</a>


                                        </div>
                                    </nav>
                                    <div class="tab-content mt-3" id="nav-tabContent">
                                        <div class="tab-pane fade show " id="nav-home" role="tabpanel"
                                            aria-labelledby="nav-home-tab">
                                            <div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade show active" id="nav-call" role="tabpanel"
                                            aria-labelledby="nav-profile-tab">
                                            <div>

                                                <div class="call1" style="">

                                                    <a href="" class="btn btn-outline-light call-btn"
                                                        style="background-color: #eaf0f6;
                                                     border-color: #cbd6e2;
                                                     color: #506e91;font-size: 14px;line-height: 14px;padding: 8px 16px;">Make
                                                        a Phone Call</a>
                                                    <a href="#callLog" id="two" data-toggle="collapse"
                                                        class="btn button btn-outline-light call-btn mx-2"
                                                        style="background-color: #eaf0f6;
                                                        border-color: #cbd6e2;
                                                        color: #506e91;font-size: 14px;line-height: 14px;padding: 8px 16px;">Log Call</a>
                                                    <div id="callLog" class="collapse">
                                                        <div class="card">
                                                            <form name="clogform" id="clogform" method="post">
                                                                {% csrf_token %}

                                                                <div class="card-header text-center font-weight-bold">
                                                                    Call Details</div>
                                                                <div class="card-body">
                                                                    <!-- <h4 class="card-title">Card title</h4> -->
                                                                    <div class="form-row my-2">
                                                                        <input type="datetime-local"
                                                                            class="form-control tbtn" id="date"
                                                                            name="date">

                                                                    </div>
                                                                    <div class="form-row my-2">
                                                                        <select class="form-control tbtn"
                                                                            id="StatusCall" name="Status">
                                                                            <option disabled selected>Status</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-row" style="margin-bottom: 18px">
                                                                        <textarea name="AboutCall" id="AboutCall"
                                                                            class="form-control  "
                                                                            placeholder="Write about Call..."
                                                                            style="height: 65px"></textarea>
                                                                    </div>

                                                                </div>
                                                                <div class="card-footer">
                                                                    <button type="submit"
                                                                        class="btn btn-primary btn-small" style="background-color: #eaf0f6;
                                                                        border-color: #cbd6e2;
                                                                        color: #506e91;
                                                                        font-size: 14px;
                                                                        line-height: 14px;
                                                                        padding: 8px 16px;">Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mt-3 CallLogs">
                                                    <!-- <p class="" style="font-size: 16px;color:black">December 2021</p> -->
                                                    <!-- <div id="Callcard" class="Callcard"
                                                        style=" 
                                                        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);border-redius:3px;">
                                                        <div class="card mb-0" style="border: none;">
                                                            <div class="card-header collapsed callH"
                                                                data-toggle="collapse" href="#Callone"
                                                                style="cursor: pointer;">
                                                                <a class="card-title text-dark ml-2"
                                                                    style="font-size: 14px">
                                                                    <strong>Call</strong> from Bhavin Asodariya
                                                                </a>
                                                                <small class="float-right" style="color: #516f90">Dec
                                                                    3,2021 at 5:51
                                                                    PM</small>
                                                            </div>

                                                            <div id="Callone" class="card-body collapse"
                                                                data-parent="#Callcard">
                                                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high
                                                                    life accusamus terry richardson ad
                                                                    squid. 3 wolf moon officia aute, non cupidatat
                                                                    skateboard dolor brunch. Food truck
                                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                                                    tempor, sunt
                                                                    aliqua put a bird on it squid single-origin coffee
                                                                    nulla assumenda shoreditch et. Nihil
                                                                    anim keffiyeh helvetica, craft beer labore wes
                                                                    anderson cred nesciunt sapiente ea
                                                                    proident. Ad vegan excepteur butcher vice lomo.
                                                                    Leggings occaecat
                                                                    craft beer farm-to-table, raw denim aesthetic synth
                                                                    nesciunt you probably haven't heard
                                                                    of them accusamus labore sustainable VHS.
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane show fade" id="nav-email" role="tabpanel"
                                            aria-labelledby="nav-contact-tab">
                                            <div></div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-note" role="tabpanel"
                                            aria-labelledby="nav-contact-tab">
                                            <div></div>

                                        </div>
                                        <div class="tab-pane fade" id="nav-task" role="tabpanel"
                                            aria-labelledby="nav-contact-tab">
                                            <div></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>



                </div>
            </div>
        </div>
        <div class="col-md-3 mr-0 pr-0 pl-0" style="overflow:auto;height:608px" !improtant>
            <div class="">
                <div id="accordion" class="accordion">
                    <div class="OtherCard  card mb-0" style="   border-top: 1px solid rgb(203, 214, 226);border-bottom: 0;border-right:0;background-color: #f5f8fa
                 ">
                    </div>

                    <div class="card-header collapsed callA" data-toggle="collapse" data-parent="#accordion"
                        href="#d3c2">
                        <a class="card-title text-dark " style="font-weight: 500">
                            Address Details
                        </a>
                    </div>
                    <div id="d3c2" class="card-body collapse address-card" data-parent="#accordion"
                        style="background-color: #f5f8fa; padding-top: 5px">
                    </div>


                    <div class="card-header collapsed callA" data-toggle="collapse" data-parent="#accordion"
                        href="#d3c3">
                        <a class="card-title text-dark " style="font-weight: 500">
                            Contact Details
                        </a>
                    </div>
                    <div id="d3c3" class="card-body collapse contact-card "
                        style="background-color: #f5f8fa; padding-top: 5px" data-parent="#accordion" !important>

                    </div>

                    <div class="card-header collapsed callA" data-toggle="collapse" data-parent="#accordion"
                        href="#d4c4">
                        <a class="card-title text-dark " style="font-weight: 500">
                            Email Details
                        </a>
                    </div>
                    <div id="d4c4" class="card-body collapse email-card"
                        style="background-color: #f5f8fa; padding-top: 5px" data-toggle="collapse"
                        data-parent="#accordion">

                    </div>

                    <div class="card-header collapsed callA" data-toggle="collapse" data-parent="#accordion"
                        href="#d5c5">
                        <a class="card-title text-dark " style="font-weight: 500">
                            Social Media Details
                        </a>
                    </div>

                    <div id="d5c5" class="card-body collapse social-card" data-toggle="collapse"
                        data-parent="#accordion" style="background-color: #f5f8fa; padding-top: 5px">
                    </div>
                    <div class="card-header collapsed callA" data-toggle="collapse" data-parent="#accordion"
                        href="#d6c6">
                        <a class="card-title text-dark " style="font-weight: 500">
                            Documents
                        </a>
                    </div>
                    <div id="d6c6" class="card-body collapse " data-toggle="collapse" data-parent="#accordion"
                        style="background-color: #f5f8fa; padding-top: 5px">
                        <a href='' target="_blank" id="documentLink">Click to show Document</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script>
    var url = '{{ url }}'
    $('.cInfo,textarea').val("");
    $('.form-group-cInfo .cInfo, .form-group-cInfo textarea').focusout(function () {
        var text_val = $(this).val();
        if (text_val === "") {
            // console.log("empty!");
            $(this).removeClass('has-value');
        } else {
            $(this).addClass('has-value');
        }
    });
    // const url = "http://127.0.0.1:5000/api";

    let AToken = localStorage.getItem("accessToken");
    // const url = "http://127.0.0.1:5000/api";
    // console.log(url)
    let Pid = {{ Pid }};
    // console.log(Pid)

    document.addEventListener('DOMContentLoaded', function (event) {
        event.preventDefault();

        IsLogin();

        var now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        document.getElementById('date').value = now.toISOString().slice(0, 16);

        fetch(url + '/tblDocument/' + Pid, { mode: 'cors', method: 'get', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": "Bearer " + AToken } })
            .then((response) => {
                if (response.status == 200) {
                    return response.json();
                } else {
                    throw Error(response.statusText);
                }
            })
            .then((myJson) => {
                console.log(myJson);
                document.getElementById('documentLink').href = myJson['Document']

            });

        fetch(url + '/stblStatus', { mode: 'cors', method: 'get', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": "Bearer " + AToken } })
            .then((response) => {
                if (response.status == 200) {
                    return response.json();
                } else {
                    throw Error(response.statusText);
                }
            })
            .then((myJson) => {
                // console.log(myJson);
                // for status
                var status_ele = document.getElementById('StatusCall');
                var Status = myJson
                for (var i = 0; i < Status.length; i++) {
                    status_ele.innerHTML = status_ele.innerHTML +
                        '<option value="' + Status[i]['Status'] + '">' + Status[i]['Status'] + '</option>';
                }
            });

        fetch(url + '/EntityDetailApi/' + Pid, { mode: 'cors', method: 'get', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": "Bearer " + AToken } })
            .then((response) => {
                if (response.status >= 200 && response.status <= 299) {
                    return response.json();
                } else {
                    throw Error(response.statusText);
                }
            })
            .then((myJson) => {
                console.log(myJson);
                if (myJson["Photo"]) {
                    document.getElementById("avatar").src = myJson['Photo']['Photo'];
                }
                document.getElementById("CAH1").innerHTML = myJson['Entity']["ShortName"];
                document.getElementById("CFN").innerHTML = '(' + myJson['Entity']["FullName"] + ')';
                if (myJson["Company"]) {

                    document.getElementById("CAC").innerHTML = 'Work at ' + myJson["Company"]["CompanyName"];
                }
                // console.log(typeof (myJson))
                Pdv = '';
                if (myJson["Person"]) {
                    Pdv += `
                        <div class="card-header collapsed callA" aria-expanded="true" data-toggle="collapse"
                            href="#collapseOne" style="">
                            <a class="card-title text-dark ">
                                Person Details
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body collapse " style="padding:10px"
                            data-parent="#accordion">
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="Fname" name="Fname" value="${myJson['Person']['FirstName']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">First Name</label>
                            </div>
                            <div class="form-group-cInfo person-card">
                                <input class="cInfo" id="Mname" name="Mname" value="${myJson['Person']['MiddleName']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Middle Name</label>
                                </div>
                                <div class="form-group-cInfo">
                                <input class="cInfo" id="Lname" name="Lname" value="${myJson['Person']['LastName']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Last Name</label>
                                </div>
                                <div class="form-group-cInfo">
                                <input class="cInfo" id="DOB" name="DOB" value="${myJson['Person']['DOB']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">DOB</label>
                                </div>
                                <div class="form-group-cInfo">
                                <input class="cInfo" id="Gender" name="Gender" value="${myJson['Person']['Gender']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Gender</label>
                                </div>
                                <div class="form-group-cInfo">
                                <input class="cInfo" id="Person Type" name="Person Type" value="${myJson['Person']['PersonTypeIDF']['PersonType']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Person Type</label>
                                </div>
                                <div class="form-group-cInfo">
                                <input class="cInfo" id="SuffixType" name="SuffixType" value="${myJson['Person']['SuffixIDF']['SuffixType']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Suffix Type</label>
                                </div>
                                <div class="form-group-cInfo">
                                <input class="cInfo" id="Status" name="Status" value="${myJson['Person']['StatusIDF']['Status']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Status</label>
                                </div>
                                <div class="form-group-cInfo">`
                    if (myJson['Person']['UpdatedBy'] != null) {

                        Pdv += `<input class="cInfo" id="Status" name="Status" value="${myJson['Person']['UpdatedBy']['username']}" type="text" readonly>`
                    } else {
                        Pdv += `<input class="cInfo" id="Status" name="Status" value="${myJson['Person']['UpdatedBy']}" type="text" readonly>`

                    } Pdv += `<label class="cInfo-label" for="yourname">Updated By</label>
                                </div><div class="form-group-cInfo">`

                    Pdv += `<input class="cInfo" id="Status" name="Status" value="${myJson['Person']['Designation']}" type="text" readonly>`
                    Pdv += `<label class="cInfo-label" for="yourname">Designation</label>
                                </div>
                                <div class="form-group-cInfo">
                                <input class="cInfo" id="Experiance" name="Experiance" value="${myJson['Person']['Experiance']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Experiance</label>
                                </div>
                                <div class="form-group-cInfo">
                                <input class="cInfo" id="About" name="About" value="${myJson['Person']['AboutPerson']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">About</label>
                                </div>
                                <div class=" form-group-cInfo ""
                                    >
                                <label class="cInfo-label" for="yourname">Skills</label>
                                </div>`
                    if (myJson["Skill"] != null) {

                        myJson["Skill"].map((skill, i) => {


                            Pdv += `
                        
                        <div class="">
                            <input class="cInfo" id="Address" name="Address" value="${skill['SkillIDF']['Skill']}" type="text" readonly>
                        </div>`
                        })
                    } else {
                        Pdv += `
                        
                        <div class="">
                            <input class="cInfo" id="Address" name="Address" value="${myJson["Skill"]}" type="text" readonly>
                        </div>`
                    }
                    Pdv += ` </div>

                        `

                    $(".DCard").html(Pdv);
                }

                // Pdv = '';
                if (myJson['Company']) {

                    Pdv += `
                    <div class=" card-header collapsed callA" data-toggle="collapse" data-parent="#accordion"
                            href="#d3c1">
                            <a class="card-title text-dark ">
                                Company Details
                            </a>
                        </div>
                        <div id="d3c1" class="card-body collapse" data-parent="#accordion">
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="Cname" name="Cname" value="${myJson['Company']['CompanyName']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Company Name</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="WebsiteURL" name="WebsiteURL" value="${myJson['Company']['GSTINNo']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">GSTIN Number</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="WebsiteURL" name="WebsiteURL" value="${myJson['Company']['AnnualRevenue']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Annual Revenue</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="WebsiteURL" name="WebsiteURL" value="${myJson['Company']['About']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">About</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="WebsiteURL" name="WebsiteURL" value="${myJson['Company']['Specialities']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Specialities</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="WebsiteURL" name="WebsiteURL" value="${myJson['Company']['WebsiteURL']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Website URL</label>
                            </div>
                            <div class="form-group-cInfo">

                                <input class="cInfo" id="Headquarter" name="Headquarter" value="${myJson['Company']['Headquarter']}" type="text" readonly>
                                <label class="cInfo-label" for="yourname">Headquarter</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="Founded" name="Founded" type="text" value="${myJson['Company']['Founded']}" readonly>
                                <label class="cInfo-label" for="yourname">Founded</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="CompanyType" name="CompanyType" type="text" value="${myJson['Company']['HeadcountIDF']['HeadCountTypeIDF']['HeadCountType']}" readonly>
                                <label class="cInfo-label" for="yourname">HeadCount Type</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="Founded" name="Founded" type="text" value="${myJson['Company']['HeadcountIDF']['HeadCountRange']}" readonly>
                                <label class="cInfo-label" for="yourname">HeadCountRange</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="CompanyType" name="CompanyType" type="text" value="${myJson['Company']['CompanyTypeIDF']['CompanyType']}" readonly>
                                <label class="cInfo-label" for="yourname">Company Type</label>
                            </div>
                            <div class="form-group-cInfo">
                                <input class="cInfo" id="IndustryType" name="IndustryType" type="text" value="${myJson['Company']['IndustryIDF']['IndustryType']}" readonly>
                                <label class="cInfo-label" for="yourname">Industry Type</label>
                            </div>
                    `
                    $(".DCard").html(Pdv);
                }

                Odv = '';

                if (myJson['Address']) {
                    myJson['Address'].map((add, i) => {

                        Odv += `
                    
                        <div class="Ncard form-group-cInfo collapsed" data-toggle="collapse" data-parent=".address-card"
                        href="#a`+ i + `">
                            <input class="cInfo" id="AddressType" name="AddressType" value="${add['AddressIDF']['AddressTypeIDF']['AddressType']}" type="text" readonly>
                            <label class="cInfo-label" for="yourname">Address Type</label>
                        </div>
                        <div class="collapse" id="a`+ i + `" data-parent=".address-card">
                        <div class="form-group-cInfo">
                            <input class="cInfo" id="Address" name="Address" value="${add['AddressIDF']['Address']}" type="text" readonly>
                            <label class="cInfo-label" for="yourname">Address</label>
                        </div>
                        <div class="form-group-cInfo">

                            <input class="cInfo" id="City" name="City" type="text" readonly value="${add['AddressIDF']['City']}" >
                            <label class="cInfo-label" for="yourname">City</label>
                        </div>
                        <div class="form-group-cInfo">
                            <input class="cInfo" id="District" name="District" type="text" readonly value="${add['AddressIDF']['District']}">
                            <label class="cInfo-label" for="yourname">District</label>
                        </div>

                        <div class="form-group-cInfo">
                            <input class="cInfo" id="State" name="State" type="text" readonly value="${add['AddressIDF']['State']}">
                            <label class="cInfo-label" for="yourname">State</label>
                        </div>

                        <div class="form-group-cInfo">
                            <input class="cInfo" id="Country" name="Country" type="text" readonly value="${add['AddressIDF']['Country']}">
                            <label class="cInfo-label" for="yourname">Country</label>
                        </div>

                        <div class="form-group-cInfo">
                            <input class="cInfo" id="PinCode" name="PinCode" type="text" readonly value="${add['AddressIDF']['PinCode']}">
                            <label class="cInfo-label" for="yourname">PinCode</label>
                        </div>
                    </div>
                    `
                    })
                    $(".address-card").html(Odv);
                }
                cdv = ''
                if (myJson['Phone']) {
                    myJson['Phone'].map((ph, i) => {

                        cdv += `

                        <div class="Ncard form-group-cInfo collapsed" data-toggle="collapse" data-parent=".contact-card"
                        href="#c`+ i + `">
                            <input class="cInfo" style="" id="PhoneType" name="PhoneType" type="text" readonly value="${ph['PhoneIDF']['PhoneTypeIDF']['PhoneType']}">
                            <label class="cInfo-label" for="yourname">Phone Type</label>
                        </div>
                        <div class="collapse" id="c`+ i + `" data-parent=".contact-card">
                        <div class="form-group-cInfo">
                            <input class="cInfo" id="CountryName" name="CountryName" type="text" readonly value="${ph['PhoneIDF']['CodeIDF']['CountryCodeIDF']['CountryName']}">
                            <label class="cInfo-label" for="yourname">Country Name</label>
                        </div>

                        <div class="form-group-cInfo">
                            <input class="cInfo" id="CountryCode" name="CountryCode" type="text" readonly value="${ph['PhoneIDF']['CodeIDF']['CountryCode']}">
                            <label class="cInfo-label" for="yourname">Country Code</label>
                        </div>

                        <div class="form-group-cInfo">
                            <input class="cInfo" id="PhoneNo" name="PhoneNo" type="text" readonly value="${ph['PhoneIDF']['PhoneNo']}">
                            <label class="cInfo-label" for="yourname">Phone Number</label>
                        </div>
                        </div>`
                        $(".contact-card").html(cdv);
                    })
                }
                Edv = ''
                if (myJson['Email']) {
                    myJson['Email'].map((em, i) => {
                        Edv += `
                        
                        <div class="Ncard form-group-cInfo collapsed" data-toggle="collapse" data-parent=".email-card"
                        href="#e`+ i + `">
                            <input class="cInfo" id="EmailType" name="EmailType" type="text" readonly value="${em['EmailIDF']['EmailTypeIDF']['EmailType']}">
                            <label class="cInfo-label" for="yourname">Email Type</label>
                        </div>

                        <div class="collapse" id="e`+ i + `" data-parent=".email-card">
                        <div class="form-group-cInfo" >
                            <input class="cInfo" id="EmailAddress" name="EmailAddress" type="text" readonly value="${em['EmailIDF']['EmailAddress']}">
                            <label class="cInfo-label" for="yourname">EmailAddress</label>
                        </div>
                        </div>
                    
                `
                        $(".email-card").html(Edv);
                    })
                }
                Sdv = ''
                if (myJson['SocialMedia']) {
                    myJson['SocialMedia'].map((sm, i) => {

                        Sdv += `
                    <div class="Ncard form-group-cInfo collapsed" data-toggle="collapse" data-parent=".social-card"
                        href="#s`+ i + `">
                        <input class="cInfo" id="SocialType" name="SocialType" type="text" readonly value="${sm['SocialMediaIDF']['SocialMediaTypeIDF']['SocialMediaType']}">
                        <label class="cInfo-label" for="yourname">Social Media Type</label>
                    </div>
                    <div class="collapse" id="s`+ i + `" data-parent=".social-card">
                    <div class="form-group-cInfo">
                        <input class="cInfo" id="URL" name="URL" type="text" readonly value="${sm['SocialMediaIDF']['url']}">
                        <label class="cInfo-label" for="yourname">URL</label>
                    </div>
                    </div>
                `
                        $(".social-card").html(Sdv);
                    })
                }
            });
    });

    function Delete_Contact() {
        var result = confirm('Are you sure to delete this Contact ?');
        if (result) {
            //Logic to delete the item
            fetch(url + '/EntityDetailApi/' + Pid, { mode: 'cors', method: 'delete', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": ("Bearer " + AToken) } })
                .then((response) => {
                    if (response.status == 200) {
                        return response.json();
                    }
                })
                .then((myJson) => {
                    sessionStorage.setItem("Msg", "Delete Contact SucessFully");
                    window.location = "/contacts"
                })
            // .catch((error) => {
            //     // Handle the error
            //     showToast(error + "/n" + "Try Again ");
            // });
        }
    };
    // console.log(url)
    function fatchCallDetails() {

        fetch(url + '/tblEntityCallDetails/' + Pid, { mode: 'cors', method: 'get', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": "Bearer " + AToken } })
            .then((response) => {
                if (response.status == 200) {
                    return response.json();
                } else {
                    throw Error(response.statusText);
                }
            })
            .then((myJson) => {
                console.log(myJson);
                if (myJson) {
                    Logs = ''
                    myJson.map((log, i) => {
                        Logs += ` <div id="Callcard" class="Callcard my-3"
                                                        style=" 
                                                        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);border-redius:3px;">
                                                        <div class="card mb-0" style="border: none;">
                                                            <div class="card-header collapsed callH"
                                                                data-toggle="collapse" href="#Call`+ i + `"
                                                                style="cursor: pointer;">
                                                                <a class="card-title text-dark ml-2"
                                                                    style="font-size: 14px">
                                                                    <strong>Created By </strong>  ${log['CreatedBY']['username']}
                                                                </a>
                                                                <small class="float-right" style="color: #516f90">${log['Date']}
                                                                    </small>
                                                            </div>

                                                            <div id="Call`+ i + `" class="card-body collapse"
                                                                data-parent="#Callcard">
                                                                <p class='font-weight-bold mb-1 '>Status : ${log['StatusIDF']['Status']}</p>
                                                                <p><span class='font-weight-bold'>About : </span>  ${log['AboutCall']}</p>
                                                                    <a class="card-link float-right" id=" ${log['EntityCallDetailsID']}" onclick="Delete_CallLog(${log['EntityCallDetailsID']})" href='#'><i class="fa fa-trash" style="font-size:20px"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>`
                    })
                    $(".CallLogs").html(Logs);
                }
            });
    }
    fatchCallDetails()

    // for delete call log
    function Delete_CallLog(Cid) {
        var result = confirm('Are you sure to delete this Call Log ?');
        console.log(Cid)
        if (result) {
            //Logic to delete the item
            fetch(url + '/tblEntityCallDetails/' + Cid, { mode: 'cors', method: 'delete', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": ("Bearer " + AToken) } })
                .then((response) => {
                    if (response.status == 200) {
                        return response.json();
                    }
                })
                .then((myJson) => {
                    console.log(myJson)
                    sessionStorage.setItem("Msg", "Delete Call Log SucessFully");
                    window.location = "/contact_info/" + Pid;
                })
        }
    }
    // for create call details
    $("#clogform").submit(function (e) {
        e.preventDefault();
        let date = $.trim($('#date').val())
        let AboutCall = $.trim($('#AboutCall').val())
        let Status = $('#StatusCall').val()

        if (date == "" || date == null) {
            showToast("Please date and time Select");
        } else if (Status == null) {
            showToast("Please Select status");
        } else if (AboutCall == "" || AboutCall == null) {
            showToast("About Call can't be blank");
        } else {

            // $('#callLog').collapse('hide')
            let value = $('#clogform').serializeJSON();
            const keys = Object.keys(value);

            var data = new FormData();
            for (let i = 0; i < keys.length; i++) {
                data.append(keys[i], value[keys[i]]);
            }
            data.append('EntityID', Pid)
            // console.log(data)
            // tblEntityCallDetails
            fetch(url + '/tblEntityCallDetails', { mode: 'cors', method: 'post', body: data, headers: { "Authorization": "Bearer " + AToken } })
                .then((response) => {
                    if (response.status == 200) {
                        return response.json();
                    } else {
                        throw Error(response.statusText);
                    }

                })
                .then((myJson) => {
                    sessionStorage.setItem("Msg", "Create Call Log SucessFully");
                    window.location = "/contact_info/" + Pid;
                    // document.getElementById("clogform").reset();
                    // showToast("Create Call Log SucessFully");

                }).catch((error) => {

                    showToast(error + ", Try Again !");

                });
        }


    });
</script>
{% endblock body %}