{% extends 'base.html' %}
{% load static %}

{% block body %}



<script>
    document.addEventListener('DOMContentLoaded', function (event) {

        var isLogin = localStorage.getItem("isLogin")
        if (isLogin != "true") {
            // $(".authentication-btn").html("<a href='/crm_login'>Login</a>");

            window.location = "/crm_login"
        }

        var Msg = sessionStorage.getItem("Msg");

        if (Msg) {
            showToast(Msg);
            sessionStorage.removeItem("Msg");
        }

        // console.log({{ Pid }})
    });
</script>
{% endblock body %}