{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/contact_form.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.js"></script>
<style>
    .Fbtn {
        background-color: #eaf0f6;
        border-color: #cbd6e2;
        color: #506e91;
        font-weight: 500;
        text-overflow: clip;
    }

    .Fbtn:hover {
        background-color: #eaf0f6;
        border-color: #364b5f;
        color: #364b5f;
        font-weight: 500;
        text-overflow: clip;
    }

    .form-row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
</style>

<div class="wrapper mb-3">
    <form id="cform" name="cform" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="wizard">
            <!-- SECTION 1 -->
            <h4 class="font-weight-bold">Entity Details</h4>
            <section>
                <div class="form-row">
                    <input type="hidden" value="{{Pid}}" id="Pid" name="Pid">
                    <input type="text" class="form-control " placeholder="Full Name" id="FullName" name="FullName">
                </div>
                <div class="form-row">
                    <input type="text" class="form-control " placeholder="Short Name" id="ShortName" name="ShortName">
                </div>
                <!-- <span class="font-weight-bold">Entity Type :</span> -->
                <!-- <div class="form-row float-right " style="margin-right:150px">
                    <div class="form-check-inline pr-5">
                        <label class="form-check-label" id="EntityType">
                            <input type="radio" class="form-check-input" name="EntityType">Option 1
                        </label>
                    </div>
                </div> -->
                <div class="form-row">

                    <select class="form-control tbtn  " id="Entitytype" name="EntityType">
                        <option disabled selected>Entity Type</option>
                    </select>
                </div>
        </div>
        <!-- for Person Detals -->
        <div id="dvPerson" style="display: none">
            <h4>Person Details </h4>
            <section>
                <input type="hidden" value="{{Pid}}" id="Pid" name="Pid">
                <div class="form-row">
                    <input type="text" class="form-control  " placeholder="First Name" id="FirstName" name="FirstName">

                    <input type="text" class="form-control   mt-1" placeholder="Middle Name" id="MiddleName"
                        name="MiddleName">
                    <input type="text" class="form-control   mt-1" placeholder="Last Name" id="LastName"
                        name="LastName">
                </div>



                <div class="form-row">
                    <select class="form-control tbtn " id="Gender" name="Gender">
                        <option disabled selected>Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>

                <div class="form-row" id="floatContainer" style="position: relative;">
                    <label id="dobL" style="position: absolute;padding: 6px 0px 0px 12px;font-size: 15px;
                                    color: #6c757d;">DOB</label>
                    <input type="date" class="form-control  " name="DOB" id="DOB" placeholder="DOB"
                        style=" padding:0 0 0px 60px;">
                </div>
                <div class="form-row">
                    <select class="form-control tbtn  " id="SuffixType" name="SuffixType">
                        <option disabled selected>Suffix Type</option>
                    </select>
                </div>
                <div class="form-row">
                    <select class="form-control tbtn  " id="PersonType" name="PersonType">
                        <option disabled selected>Person Type</option>
                    </select>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control  " name="Designation" id="Designation"
                        placeholder="Designation(**optional)">
                </div>


            </section>
        </div>


        <!-- for Company Detals -->
        <div id="dvCompany">
            <section>
                <button class="btn Fbtn col-md-12" id="btncom" type="button" data-toggle="collapse" data-target="#dvCom"
                    aria-expanded="false" aria-controls="dvCom">Add Company Details
                </button>
                <div id="dvCom" class="collapse mt-2">
                    <!-- <h4>Company Details </h4> -->

                    <div class="form-row">
                        <input type="hidden" id="CompanyID" name="CompanyID">
                        <input type="text" class="form-control  " name="CompanyName" id="CompanyName"
                            placeholder="Company Name"> </div>
                    <div class="form-row"> <input type="text" class="form-control " name="GSTINNo" id="GSTINNo"
                            placeholder="GST NO."> </div>
                    <div class="form-row"> <input type="text" class="form-control  " name="Headquarter" id="Headquarter"
                            placeholder="Headquarter"> </div>
                    <div class="form-row">
                        <textarea name="WebsiteURL" id="WebsiteURL" class="form-control  " placeholder="Website URL"
                            style="height: 45px"></textarea>
                    </div>
                    <div class="form-row" style="margin-bottom: 18px">
                        <textarea name="About" id="About" class="form-control  " placeholder="About Company"
                            style="height: 45px"></textarea>
                    </div>
                    <div class="form-row" style="margin-bottom: 18px">
                        <textarea name="Specialities" id="Specialities" class="form-control  " placeholder="Speciality"
                            style="height: 45px"></textarea>
                    </div>
                    <div class="form-row" id="floatContainer" style="position: relative;">
                        <label id="dobL" style="position: absolute;padding: 6px 0px 0px 12px;font-size: 15px;
                                            color: #6c757d;">Founded</label>
                        <input type="date" class="form-control   " id="Founded" name="Founded" placeholder="Founded"
                            style=" padding:0 0 0px 100px;">
                    </div>
                    <div class="form-row">

                        <input type="number" id="AnnualRevenue" name="AnnualRevenue" class="form-control   "
                            placeholder="Annual Revenue">
                    </div>
                    <div class="form-row">
                        <input type="hidden" id="HeadCountID" name="HeadCountID">
                        <select class="form-control   tbtn" id="HeadCountType" name="HeadCountType">
                            <option disabled selected>Head Count Type</option>
                        </select>
                        <input type="number" id="HeadCount" name="HeadCountRange" class="form-control   mt-1"
                            placeholder="Head Count">
                    </div>

                    <div class="form-row">
                        <select class="form-control   tbtn" id="CompanyType" name="CompanyType">
                            <option disabled selected>Company Type</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <select class="form-control   tbtn" id="IndustryType" name="IndustryType">
                            <option disabled selected>Industry Type</option>

                        </select>
                    </div>
                </div>
            </section>
        </div>

        </section>

        <!-- for Contact Detals -->
        <section class="mt-2 mb-2">

            <button class="btn Fbtn col-md-12" id="Contactbtn" type="button" data-toggle="collapse"
                data-target="#dvContact" aria-expanded="false" aria-controls="dvContact">Add Contact
                Details</button>
            <div id="dvContact" class="collapse mt-2">

                <div class="form-row">
                    <div class="control-group" id="fields">
                        <div class="controls" style="min-width: 600px" id="EcloneDiv">
                            <div class="mb-1 input-group upload-input-group" id="EcloneId">

                                <select class="form-control tbtn" id="EmailType_1" name="EmailType[]">
                                    <option disabled selected>Email Type</option>
                                </select>
                                <input type="hidden" id="EmailID_1" name="EmailID[]">
                                <input type="email" class="form-control " placeholder="Enter Your Email"
                                    id="EmailAddress_1" name="EmailAddress[]">
                                <button class="btn btn-upload btn-success Ebtn-add " onclick="addEmail()"
                                    style="padding: 3px 8px;" type="button">
                                    <i class="fa fa-plus"> </i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var emailTypeData = []
                    var ECloneDiv = $("#EcloneDiv");
                    var i = $("#EcloneId").length + 1;

                    window.addEmail = function () {
                        var EmailHtml = `<div class="entry mb-1 input-group upload-input-group " id="EcloneId">
                            <select class="form-control tbtn  " id="EmailType_`+ i + `" name="EmailType[]">
                                <option disabled selected>Email Type</option>`
                        for (let j = 0; j < emailTypeData.length; j++) {
                            EmailHtml += '<option name="EmailType"  value="' + emailTypeData[j]['EmailTypeID'] + '">' + emailTypeData[j]['EmailType'] + '</option>'
                        }
                        EmailHtml += `  </select>`
                        EmailHtml += `<input type="hidden" id="EmailID_` + i + `" name="EmailID[]" value='0'>
                                <input type="email" class="form-control  " placeholder="Enter Your Email"
                                    id="EmailAddress_`+ i + `" name="EmailAddress[]">
                                    <button class="btn btn-upload btn-danger mb-1" onclick="removeCont(this);" style="padding: 4px 8px" type="button">
                                        <i class="fa fa-trash"> </i>
                                    </button>
                                </div>`;


                        $(EmailHtml).appendTo(ECloneDiv);
                        i++;
                        return false;

                    }
                </script>


                <!-- for Phone Number -->
                <div class="form-row">

                    <div class="control-group" id="fields">
                        <div class="controls " id="cloneDiv">
                            <div class="entry mb-1 input-group upload-input-group " id="cloneId">

                                <select class="form-control tbtn" id="PhoneType_1" name="PhoneType[]">
                                    <option disabled selected>Phone Type</option>
                                </select>

                                <select class="form-control tbtn" onchange="getCountry(this)" name="CountryName[]"
                                    id="CountryName_1">
                                    <option disabled selected>Country</option>
                                </select>

                                <input type="hidden" id="CodeID_1" name="CodeID[]">

                                <input type="text" class="form-control tbtn " id="CountryCode_1" name="CountryCode[]"
                                    style="padding-right:0px " placeholder="Country Code" readonly />

                                <input type="hidden" id="PhoneID_1" name="PhoneID[]" value='0'>
                                <input type="number" id="PhoneNo_1" name="PhoneNo[]" class="form-control"
                                    placeholder="Enter your Phone No. *99999 99999" />
                                <button class="btn btn-upload btn-success btn-add" onclick="addPhone()"
                                    style="padding: 3px 8px;" type="button">
                                    <i class="fa fa-plus"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var phoneTypeData = [];


                    var CloneDiv = $("#cloneDiv");
                    var i = $("#cloneId").length + 1;

                    // $(function () {

                    // $(".btn-add").click(function (e) {
                    window.addPhone = function () {
                        // e.preventDefault();
                        // console.log(PhoneData)

                        var phoneHTML = `<div class="entry input-group upload-input-group " id="p_scents">
                                    <select class="form-control tbtn" id="PhoneType_`+ i + `" name="PhoneType[]">
                                       <option disabled selected>Phone Type</option>`;

                        for (let j = 0; j < phoneTypeData.length; j++) {
                            phoneHTML += '<option name="PhoneType"  value="' + phoneTypeData[j]['PhoneTypeID'] + '">' + phoneTypeData[j]['PhoneType'] + '</option>';
                        }
                        phoneHTML += `</select>
                
                                    <select class="form-control tbtn" onchange="getCountry(this)" name="CountryName[]" id="CountryName_`+ i + `">
                                        <option disabled selected>Country</option>`;
                        for (let i = 0; i < countryData.length; i++) {
                            phoneHTML +=
                                '<option name="CountryName"  value="' + countryData[i]['CountryCodeIDF']['CountryCodeID'] + '">' + countryData[i]['CountryCodeIDF']['CountryName'] + '</option>';
                        }
                        phoneHTML += `</select>
                
                                    <input type="hidden" id="CodeID_`+ i + `" name="CodeID[]" value='0'>

                                    <input type="text" class="form-control tbtn " id="CountryCode_`+ i + `" name="CountryCode[]"
                                        style="padding-right:0px " placeholder="Country Code" readonly />
                
                                    <input type="hidden" id="PhoneID_`+ i + `" name="PhoneID[]" value='0'>
                                    <input type="number" id="PhoneNo_`+ i + `" name="PhoneNo[]" class="form-control"
                                        placeholder="Enter your Phone No. *99999 99999" />
                                    <button class="btn btn-upload btn-danger mb-1" onclick="removeCont(this);" style="padding: 4px 8px" type="button">
                                        <i class="fa fa-trash"> </i>
                                    </button>
                                </div>`;


                        $(phoneHTML).appendTo(CloneDiv);
                        i++;
                        return false;
                    }
                    // });
                    function removeCont(_this) {
                        if (i > 1) {
                            $(_this).parent().remove();
                            i--;
                        }
                    }
                </script>
            </div>
        </section>
        <!-- for Social -->
        <section class="mt-2 mb-2">

            <button class="btn Fbtn col-md-12" id="Socialbtn" type="button" data-toggle="collapse"
                data-target="#dvSocial" aria-expanded="false" aria-controls="collapseExample">Add SocialMedia
                Details</button>
            <div id="dvSocial" class="collapse mt-2">
                <div class="form-row">
                    <div class="controls" style="min-width: 600px" id="ScloneDiv">
                        <div class="mb-1 input-group upload-input-group" id="ScloneId">

                            <input type="hidden" id="SocialmediaID_1" name="SocialmediaID[]" value="0">
                            <select class="form-control   tbtn" id="SocialMediaType_1" name="SocialMediaType[]">
                                <option disabled selected>Social Media Type</option>

                            </select>
                            <input type="text" id="SocialMediaURL_1" name="url[]" class="form-control"
                                placeholder="Social Media URL">
                            <button class="btn btn-upload btn-success Sbtn-add " onclick="addSocial()"
                                style="padding: 3px 8px;" type="button">
                                <i class="fa fa-plus"> </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var socialTypeData = []
                var SCloneDiv = $("#ScloneDiv");
                var i = $("#ScloneId").length + 1;

                window.addSocial = function () {
                    console.log(i);
                    var SocialHtml = `<div class="mb-1 input-group upload-input-group" id="ScloneId">
                        <input type="hidden" id="SocialmediaID_` + i + `" name="SocialmediaID[]" value='0'>
                        <select class="form-control   tbtn" id="SocialMediaType_` + i + `" name="SocialMediaType[]">
                            <option disabled selected>Social Media Type</option>`
                    for (let j = 0; j < socialTypeData.length; j++) {
                        SocialHtml +=
                            '<option name="SocialMediaType"  value="' + socialTypeData[j]['SocialMediaTypeID'] + '">' + socialTypeData[j]['SocialMediaType'] + '</option>';
                    }
                    SocialHtml += `  </select>`
                    SocialHtml += `<input type="text" id="SocialMediaURL_` + i + `" name="url[]" class="form-control  "
                                placeholder="Social Media URL">
                                    <button class="btn btn-upload btn-danger " onclick="removeCont(this);" style="padding: 4px 8px" type="button">
                                        <i class="fa fa-trash"> </i>
                                    </button>
                                </div>`;


                    $(SocialHtml).appendTo(SCloneDiv);
                    i++;
                    return false;

                }
            </script>
        </section>

        <!-- for Photo -->
        <style>
            .btn-success:not(:disabled):not(.disabled).active,
            .btn-success:not(:disabled):not(.disabled):active,
            .show>.btn-success.dropdown-toggle {
                color: #fff;
                background-color: #0062cc;
                border-color: #1c7430;
            }


            .input-group>.custom-select:not(:last-child) {
                background-color: #eaf0f6;
                border-color: #cbd6e2;
                color: #506e91;
            }

            .input-group>.form-control:not(:last-child) {
                background-color: #eaf0f6;
                border-color: #cbd6e2;
                color: #506e91;
            }
        </style>
        <section class="mt-2 mb-2">

            <button class="btn Fbtn col-md-12" id="Photobtn" type="button" data-toggle="collapse" data-target="#dvPhoto"
                aria-expanded="false" aria-controls="collapseExample">Add Photo</button>
            <div id="dvPhoto" class="collapse mt-2">
                <div class="form-row">
                    <select class="form-control   tbtn" id="PhotoType" name="PhotoType">
                        <option disabled selected>PhotoType</option>

                    </select>
                    <!-- <div class=" form-group">
                        <div class="">
                            <div class="control-group" id="fields">
                                <div class="controls">
                                    <div class="entry input-group upload-input-group">
                                        <input class="form-control" name="fields[]" type="file">
                                        <button class="btn btn-upload btn-success btn-add" type="button">
                                            <i class="fa fa-plus"> </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <input type="file" id="Photo" name="Photo" class="form-control mt-1" placeholder="Photo">

                </div>
            </div>
        </section>

        <!-- for Address -->
        <section class="mt-2 mb-2">
            <button class="btn Fbtn col-md-12" id="btnAddress" type="button" data-toggle="collapse"
                data-target="#dvAddress" aria-expanded="false" aria-controls="dvAddress">Add Address
            </button>
            <div id="dvAddress" class="collapse mt-2">
                <section>
                    <div class="controls" style="min-width: 600px" id="AcloneDiv">
                        <div class=" mb-5" id="AcloneId">
                            <div class="form-row mb-2">
                                <input type="hidden" id="AddID_1" name="AddressID[]" value="0">
                                <div class="col-4">
                                    <select class="form-control tbtn  " id="AddressType_1" name="AddressType[]">
                                        <option disabled selected>Address Type</option>
                                    </select>
                                </div>
                                <div class="col-8">
                                    <textarea name="Address[]" id="Add_1" class="form-control " placeholder="Address"
                                        style="height: 108px"></textarea>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col">

                                    <input type="text" class="form-control" id="City_1" name="City[]"
                                        placeholder="City">
                                </div>

                                <div class="col">

                                    <input type="text" class="form-control  " id="District_1" name="District[]"
                                        placeholder="District">
                                </div>
                                <div class="col">

                                    <input type="text" class="form-control" id="State_1" name="State[]"
                                        placeholder="State">
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-5">
                                    <input type="text" class="form-control   " id="Country_1" name="Country[]"
                                        placeholder="Country">
                                </div>
                                <div class="col-5">

                                    <input type="number" class="form-control   " id="ZipCode_1" name="PinCode[]"
                                        placeholder="Pin Code">
                                </div>
                                <div class="col text-center">

                                    <button class="btn btn-upload btn-success Sbtn-add " onclick="addAddress()"
                                        style="padding: 3px 8px;" type="button">
                                        <i class=" fa fa-plus"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        var addTypeData = []
                        var ACloneDiv = $("#AcloneDiv");
                        var i = $("#AcloneId").length + 1;

                        window.addAddress = function () {
                            console.log(i);
                            var AddHtml = ` <div class=" mb-5" id="AcloneId">
                            <div class="form-row mb-2">
                                <input type="hidden" id="AddID_` + i + `" name="AddressID[]" value="0">
                                <div class="col-4">
                                    <select class="form-control tbtn  " id="AddressType_` + i + `" name="AddressType[]" style="">
                                        <option disabled selected>Address Type</option>
                                    `

                            for (let j = 0; j < addTypeData.length; j++) {
                                AddHtml +=
                                    '<option name="AddressType"  value="' + addTypeData[j]['AddressTypeID'] + '">' + addTypeData[j]['AddressType'] + '</option>'
                            }

                            AddHtml += `</select>
                                </div>
                                <div class="col-8">
                                    <textarea name="Address[]" id="Add_` + i + `" class="form-control " placeholder="Address"
                                        style="height: 108px"></textarea>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col">

                                    <input type="text" class="form-control" id="City_` + i + `" name="City[]" placeholder="City">
                                </div>

                                <div class="col">

                                    <input type="text" class="form-control  " id="District_` + i + `" name="District[]"
                                        placeholder="District">
                                </div>
                                <div class="col">

                                    <input type="text" class="form-control" id="State_` + i + `" name="State[]" placeholder="State">
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-5">
                                    <input type="text" class="form-control   " id="Country_` + i + `" name="Country[]"
                                        placeholder="Country">
                                </div>
                                <div class="col-5">

                                    <input type="number" class="form-control   " id="ZipCode_` + i + `" name="PinCode[]"
                                        placeholder="Pin Code">
                                </div>
                                <div class="col text-center">

                                        <button class="btn btn-upload btn-danger " onclick="removeAdd(this);" style="padding: 4px 8px" type="button">
                                        <i class="fa fa-trash"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>`;


                            $(AddHtml).appendTo(ACloneDiv);
                            i++;
                            return false;

                        }

                        function removeAdd(_this) {
                            if (i > 1) {
                                $(_this).closest('#AcloneId').remove();
                                i--;
                            }
                        }
                    </script>

                </section>
            </div>

        </section>

        <input type="submit" class="btn Fbtn col-md-12 " value="Submit">
</div>
</form>


</div>

<script>
    var isLogin = localStorage.getItem("isLogin")
    if (isLogin != "true") {
        window.location = "/crm_login"
    }
    var Msg = sessionStorage.getItem("Msg");
    if (Msg) {
        showToast(Msg);
        sessionStorage.removeItem("Msg");
    }


    let AToken = localStorage.getItem("accessToken");
    const url = "http://127.0.0.1:5000/api";
    let Pid = {{ Pid }}
    // console.log(Pid)
    document.addEventListener('DOMContentLoaded', function (event) {
        event.preventDefault();



        fetch(url + '/StaticDataApi', { mode: 'cors', method: 'get', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": "Bearer " + AToken } })
            .then((response) => {
                if (response.status == 200) {
                    return response.json();
                } else {
                    throw Error(response.statusText);
                }
            })
            .then((myJson) => {
                console.log(myJson);

                var ele = document.getElementById('Entitytype');
                var entity = myJson['Entity_Type']
                for (var i = 0; i < entity.length; i++) {
                    ele.innerHTML = ele.innerHTML +
                        '<option name="Entity_Type[EntityTypeID]"  value="' + entity[i]['EntityTypeID'] + '">' + entity[i]['EntityType'] + '</option>';
                }

                //    for social media 
                socialTypeData = myJson['SocialMedia_Type']
                window.SocialTypeDetails = function (social_ele) {
                    for (var i = 0; i < socialTypeData.length; i++) {
                        social_ele.innerHTML = social_ele.innerHTML +
                            '<option name="SocialMediaType"  value="' + socialTypeData[i]['SocialMediaTypeID'] + '">' + socialTypeData[i]['SocialMediaType'] + '</option>';
                    }
                }
                SocialTypeDetails(document.getElementById('SocialMediaType_1'))
                //    for photo type 
                var photo_ele = document.getElementById('PhotoType');
                var photo = myJson['Photo_Type']
                for (var i = 0; i < photo.length; i++) {
                    photo_ele.innerHTML = photo_ele.innerHTML +
                        '<option name="PhotoType"  value="' + photo[i]['PhotoTypeID'] + '">' + photo[i]['PhotoType'] + '</option>';
                }

                //    for suffix  
                var suffix_ele = document.getElementById('SuffixType');
                var suffix = myJson['Suffix_Type']
                for (var i = 0; i < suffix.length; i++) {
                    suffix_ele.innerHTML = suffix_ele.innerHTML +
                        '<option name="SuffixType"  value="' + suffix[i]['SuffixID'] + '">' + suffix[i]['SuffixType'] + '</option>';
                }

                //    for PersonType  
                var person_ele = document.getElementById('PersonType');
                var person = myJson['Person_Type']
                for (var i = 0; i < person.length; i++) {
                    person_ele.innerHTML = person_ele.innerHTML +
                        '<option name="PersonType"  value="' + person[i]['PersonTypeID'] + '">' + person[i]['PersonType'] + '</option>';
                }

                //    for HeadCountType  
                var headc_ele = document.getElementById('HeadCountType');
                var headc = myJson['HeadCount_Type']
                for (var i = 0; i < headc.length; i++) {
                    headc_ele.innerHTML = headc_ele.innerHTML +
                        '<option name="HeadCountType"  value="' + headc[i]['HeadCountTypeID'] + '">' + headc[i]['HeadCountType'] + '</option>';
                }

                //    for company type  
                var company_ele = document.getElementById('CompanyType');
                var company = myJson['Company_Type']
                for (var i = 0; i < company.length; i++) {
                    company_ele.innerHTML = company_ele.innerHTML +
                        '<option name="CompanyType"  value="' + company[i]['CompanyTypeID'] + '">' + company[i]['CompanyType'] + '</option>';
                }

                //    for HeadCountType  
                var industry_ele = document.getElementById('IndustryType');
                var industry = myJson['Industry_Type']
                for (let i = 0; i < industry.length; i++) {
                    industry_ele.innerHTML = industry_ele.innerHTML +
                        '<option name="IndustryType"  value="' + industry[i]['IndustryID'] + '">' + industry[i]['IndustryType'] + '</option>';
                }

                //    for Address Type  
                addTypeData = myJson['Address_Type']
                window.AddtypeDetails = function (add_ele) {
                    for (let i = 0; i < addTypeData.length; i++) {
                        add_ele.innerHTML = add_ele.innerHTML +
                            '<option name="AddressType"  value="' + addTypeData[i]['AddressTypeID'] + '">' + addTypeData[i]['AddressType'] + '</option>';
                    }
                }
                AddtypeDetails(document.getElementById('AddressType_1'));


                //    for Email Type  
                emailTypeData = myJson['Email_Type']
                window.EmailtypeDetails = function (email_ele) {
                    for (let i = 0; i < emailTypeData.length; i++) {
                        email_ele.innerHTML = email_ele.innerHTML +
                            '<option name="EmailType"  value="' + emailTypeData[i]['EmailTypeID'] + '">' + emailTypeData[i]['EmailType'] + '</option>';
                    }
                }
                EmailtypeDetails(document.getElementById('EmailType_1'));


                // for Phone
                phoneTypeData = myJson['Phone_Type'];
                window.PhonetypeDetails = function (phone_ele) {
                    var phone = myJson['Phone_Type']
                    // console.log(phone_ele)
                    for (let i = 0; i < phone.length; i++) {
                        phone_ele.innerHTML = phone_ele.innerHTML +
                            '<option name="PhoneType"  value="' + phone[i]['PhoneTypeID'] + '">' + phone[i]['PhoneType'] + '</option>';
                    }
                }
                PhonetypeDetails(document.getElementById('PhoneType_1'));


                //    for Country Code
                countryData = myJson['Country_Code']
                window.PhoneCountry = function (C_ele) {
                    for (var i = 0; i < countryData.length; i++) {
                        C_ele.innerHTML = C_ele.innerHTML +
                            '<option name="CountryName"  value="' + countryData[i]['CountryCodeIDF']['CountryCodeID'] + '">' + countryData[i]['CountryCodeIDF']['CountryName'] + '</option>';
                    }
                }

                PhoneCountry(document.getElementById('CountryName_1'));
                window.getCountry = function (selectObject) {
                    let countryData = myJson['Country_Code']

                    for (var i = 0; i < countryData.length; i++) {

                        let selectedCntId = $(selectObject).attr("id").split("_");

                        if (selectObject.value == countryData[i]['CountryCodeIDF']['CountryCodeID']) {
                            document.getElementById('CountryCode_' + selectedCntId[1]).value = countryData[i]['CountryCode'];
                        }
                    }
                }
            });

        if (Pid) {
            fetch(url + '/EntityDetailApi/' + Pid, { mode: 'cors', method: 'get', headers: { "Content-type": "application/json; charset=UTF-8", "Authorization": "Bearer " + AToken } })
                .then((response) => {
                    if (response.status == 200) {
                        return response.json();
                    } else {
                        throw Error(response.statusText);
                    }
                })
                .then((myJson) => {
                    console.log(myJson);
                    // console.log(myJson['Entity']["EntityTypeIDF"]["EntityTypeID"])
                    document.getElementById("FullName").value = myJson['Entity']["FullName"];
                    document.getElementById("ShortName").value = myJson['Entity']["ShortName"];
                    document.getElementById("Entitytype").selectedIndex = myJson['Entity']["EntityTypeIDF"]["EntityTypeID"];

                    if (myJson['Person']) {
                        $("#dvPerson").show();
                        document.getElementById("FirstName").value = myJson['Person']["FirstName"];
                        document.getElementById("MiddleName").value = myJson['Person']["MiddleName"];
                        document.getElementById("LastName").value = myJson['Person']["LastName"];
                        if (myJson['Person']["Gender"] == 'F') {
                            document.getElementById("Gender").selectedIndex = 2;
                        }
                        else {
                            document.getElementById("Gender").selectedIndex = 1;

                        }
                        document.getElementById("DOB").value = myJson['Person']["DOB"];
                        document.getElementById("SuffixType").value = myJson['Person']["SuffixIDF"]["SuffixID"];
                        document.getElementById("PersonType").selectedIndex = myJson['Person']["PersonTypeIDF"]["PersonTypeID"];
                        document.getElementById("Designation").value = myJson['Person']["Designation"];
                    } else {
                        $("#dvPerson").hide();

                    }
                    if (myJson['Company']) {
                        document.getElementById("CompanyName").value = myJson['Company']["CompanyName"];
                        document.getElementById("GSTINNo").value = myJson['Company']["GSTINNo"];
                        document.getElementById("Headquarter").value = myJson['Company']["Headquarter"];
                        document.getElementById("WebsiteURL").value = myJson['Company']["WebsiteURL"];
                        document.getElementById("About").value = myJson['Company']["About"];
                        document.getElementById("Specialities").value = myJson['Company']["Specialities"];
                        document.getElementById("Founded").value = myJson['Company']["Founded"];
                        document.getElementById("AnnualRevenue").value = myJson['Company']["AnnualRevenue"];
                        document.getElementById("HeadCountType").selectedIndex = myJson['Company']["HeadcountIDF"]["HeadCountTypeIDF"]["HeadCountTypeID"];
                        document.getElementById("HeadCount").value = myJson['Company']["HeadcountIDF"]["HeadCountRange"];
                        document.getElementById("HeadCountID").value = myJson['Company']["HeadcountIDF"]["HeadCountID"];
                        document.getElementById("CompanyType").selectedIndex = myJson['Company']["CompanyTypeIDF"]["CompanyTypeID"];
                        document.getElementById("IndustryType").selectedIndex = myJson['Company']["IndustryIDF"]["IndustryID"];
                    }
                    if (myJson['Email']) {
                        var EmailData = myJson['Email']
                        for (let i = 0; i < EmailData.length; i++) {
                            if (EmailData.length > (i + 1)) {
                                addEmail();
                            }
                            let j = i + 1;
                            document.getElementById("EmailType_" + j).selectedIndex = myJson['Email'][i]['EmailIDF']["EmailTypeIDF"]["EmailTypeID"];
                            document.getElementById("EmailAddress_" + j).value = myJson['Email'][i]['EmailIDF']["EmailAddress"];
                            document.getElementById("EmailID_" + j).value = myJson['Email'][i]["EmailIDF"]["EmailID"];
                        }
                    }

                    if (myJson['Phone']) {

                        var PhoneData = myJson['Phone'];

                        for (let i = 0; i < PhoneData.length; i++) {
                            // console.log(i)
                            if (PhoneData.length > (i + 1)) {
                                addPhone();
                            }
                            let j = i + 1;
                            document.getElementById("PhoneType_" + j).selectedIndex = myJson['Phone'][i]["PhoneIDF"]["PhoneTypeIDF"]["PhoneTypeID"];
                            document.getElementById("CountryName_" + j).selectedIndex = myJson['Phone'][i]["PhoneIDF"]["CodeIDF"]["CountryCodeIDF"]["CountryCodeID"];
                            // console.log(document.getElementById("CodeID_" + j))
                            document.getElementById("CodeID_" + j).value = myJson['Phone'][i]["PhoneIDF"]["CodeIDF"]["CodeID"];

                            document.getElementById("CountryCode_" + j).value = myJson['Phone'][i]["PhoneIDF"]["CodeIDF"]["CountryCode"];

                            document.getElementById("PhoneNo_" + j).value = myJson['Phone'][i]["PhoneIDF"]["PhoneNo"];
                            document.getElementById("PhoneID_" + j).value = myJson['Phone'][i]["PhoneIDF"]["PhoneID"];

                        }

                    }
                    if (myJson['SocialMedia']) {
                        var SocialData = myJson['SocialMedia']
                        // console.log('1');
                        for (let i = 0; i < SocialData.length; i++) {
                            if (SocialData.length > (i + 1)) {
                                addSocial();
                            }
                            let j = i + 1;

                            document.getElementById("SocialmediaID_" + j).value = myJson['SocialMedia'][i]["SocialMediaIDF"]["SocialmediaID"];
                            document.getElementById("SocialMediaType_" + j).selectedIndex = myJson['SocialMedia'][i]["SocialMediaIDF"]["SocialMediaTypeIDF"]["SocialMediaTypeID"];
                            document.getElementById("SocialMediaURL_" + j).value = myJson['SocialMedia'][i]["SocialMediaIDF"]["url"];
                            // console.log('2');

                        }

                    }
                    if (myJson['Photo']) {
                        // console.log(myJson['Photo']['Photo']);
                        document.getElementById("PhotoType").selectedIndex = myJson['Photo']["PhotoTypeIDF"]["PhotoTypeID"];

                        // document.getElementById("Photo").value = myJson['Photo']['Photo'];
                    }
                    if (myJson['Address']) {
                        var AddData = myJson['Address']
                        for (let i = 0; i < AddData.length; i++) {
                            if (AddData.length > (i + 1)) {
                                addAddress();
                            }
                            let j = i + 1;
                            console.log(document.getElementById("AddressType_" + j))
                            document.getElementById("AddressType_" + j).selectedIndex = myJson['Address'][i]["AddressIDF"]["AddressTypeIDF"]["AddressTypeID"];
                            document.getElementById("Add_" + j).value = myJson['Address'][i]["AddressIDF"]["Address"];
                            document.getElementById("AddID_" + j).value = myJson['Address'][i]["AddressIDF"]["AddressID"];
                            document.getElementById("City_" + j).value = myJson['Address'][i]["AddressIDF"]["City"];
                            document.getElementById("District_" + j).value = myJson['Address'][i]["AddressIDF"]["District"];
                            document.getElementById("State_" + j).value = myJson['Address'][i]["AddressIDF"]["State"];
                            document.getElementById("Country_" + j).value = myJson['Address'][i]["AddressIDF"]["Country"];
                            document.getElementById("ZipCode_" + j).value = myJson['Address'][i]["AddressIDF"]["PinCode"];
                        }
                    }

                })
                .catch((error) => {
                    showToast(error + ", Try Again !");
                });
        }
    });

    $(function () {
        $("#Entitytype").change(function () {
            if ($("#Entitytype").val() == "1") {
                $("#dvPerson").show();
                // $('#dvCompany').hide();

            } else if ($("#Entitytype").val() == "2") {
                $("#dvPerson").hide();
                // $('#dvCompany').show();
            }
        });
    });


    $("#cform").submit(function (e) {

        e.preventDefault();

        var f = document.getElementById("Photo").value;
        let value = $('#cform').serializeJSON();
        var input = document.querySelector('input[type="file"]')
        const keys = Object.keys(value);

        var data = new FormData();
        for (let i = 0; i < keys.length; i++) {
            data.append(keys[i], value[keys[i]]);
        }
        data.append('Photo', input.files[0])
        // console.log(input.files[0]);

        if (Pid) {
            fetch(url + '/EntityDetailApi/' + Pid, { mode: 'cors', method: 'patch', body: data, headers: { "Authorization": "Bearer " + AToken } })
                .then((response) => {
                    if (response.status == 200) {

                        return response.json();
                    } else {
                        throw Error(response.statusText);

                    }

                })
                .then((myJson) => {

                    // console.log(myJson);
                    sessionStorage.setItem("Msg", "Update Contact SucessFully");
                    window.location = "/contact_info/" + Pid;
                }).catch((error) => {
                    // Handle the error

                    showToast(error + ", Try Again !");

                });

        } else {

            // value.Photo = f
            // console.log(value)
            fetch(url + '/EntityDetailApi', { mode: 'cors', method: 'post', body: data, headers: { "Authorization": "Bearer " + AToken } })
                .then((response) => {
                    if (response.status == 201) {
                        return response.json();
                    } else {
                        throw Error(response.statusText);
                    }

                })
                .then((myJson) => {
                    sessionStorage.setItem("Msg", "Create Contact SucessFully");
                    window.location = "/contacts";
                }).catch((error) => {

                    showToast(error + ", Try Again !");

                });
        }
    });
</script>
{% endblock body %}